@import url();

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background: #031e32;

}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    background: transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;

}
.logo{
    font-size: 25px;
    color: rgb(161, 114, 52);
    text-decoration: none;
    font-weight: 600;
}
.navbar a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: rgb(24, 24, 235);
    cursor: alias;

}